# Виртуальное окружение
venv/

# Медиафайлы и статика
media/
staticfiles/

# Файл с секретами
secret.env

# Файлы Python
__pycache__/
*.pyc
*.pyo

# IDE
.idea/
.vscode/

# Файлы базы данных
*.sqlite3

settings.py